<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="router.navigateByUrl('/settings')">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="ready">
  <div class="container">
    <div
      [style.background]="selectedColor"
      [cpWidth]="cpWidth"
      [cpHeight]="500"
      [cpToggle]="true"
      [cpDialogDisplay]="'inline'"
      cpAlphaChannel="disabled"
      [cpPresetColors]="preset"
      [cpPresetLabel]="labels"
      [(colorPicker)]="selectedColor"
      (colorPickerChange)="change.next($event)"
    >
    </div>
    <ion-row>
      <ion-button (click)="brightnes(-10)">--</ion-button>
      <ion-button (click)="brightnes(-2)">-</ion-button>
      <ion-button (click)="brightnes(2)">+</ion-button>
      <ion-button (click)="brightnes(10)">++</ion-button>
    </ion-row>
    <ion-button (click)="set('ffffff')">On</ion-button>
    <ion-button (click)="set('000000')">Off</ion-button>
    <ion-button (click)="api.wave()" [disabled]="!djangoUrl">Wave</ion-button>

    <ion-button (click)="api.wakeMeUp()" [disabled]="!djangoUrl">Wake me up</ion-button>
    <ion-button (click)="api.stopCelery()" [disabled]="!djangoUrl">Stop</ion-button>
    <ion-button (click)="playMusic()">
      <ion-icon name="play-circle"></ion-icon>
    </ion-button>
    <ion-button (click)="sound.stop()">
      <ion-icon name="pause"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  {{selectedColor}}
</ion-footer>
