<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="router.navigateByUrl('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-select placeholder="Select One" [(ngModel)]="selectedServer" (ionChange)="setServer($event)">
    <ion-select-option [value]="server.url" *ngFor="let server of servers">
      {{ server.name }}: {{ server.url }}</ion-select-option>
  </ion-select>

  <ion-item>
    <ion-label position="stacked">Alarm</ion-label>
    <ion-datetime
      display-format="HH:mm"
      (ionChange)="api.setAlarm($event.detail.value)"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="prod">App build is: Prod</ion-item>
  <ion-item *ngIf="!prod">App build is: Dev</ion-item>
  <ul>
    <li>Django
      <div [ngClass]="status?'green':'red'"></div>
    </li>
    <li>Worker</li>
    <li>Beat</li>
    <li>Ws</li>
  </ul>
</ion-content>
